/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #FFC2E6;

  --primary-color: #353430;
  --secondary-color: #353430;
  --accent-color: #FF8DCB;
  --decor-color: #353430;
  --decor-color-rgb: 53, 52, 48;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #FFC2E6;
  
    --primary-color: #353430;
    --secondary-color: #353430;
    --accent-color: #FF8DCB;
    --decor-color: #353430;
    --decor-color-rgb: 53, 52, 48;
    }
}

.page.theme_light {

}
