/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #DB00FF;

  --primary-color: #F1B2CE;
  --secondary-color: #000028;
  --accent-color: #FF0070;
  --decor-color: #FF0070;
  
  --border-opacity: 0.4;

  --main-font: 'IBM Plex Mono', monospace;
}